.cache
.clang-format
.direnv
.DS_Store
.gitignore
.idea
.pio
.pioenvs
.piolibdeps
.vscode
.vscode/extensions.json

esp01-update.sh
platformio_override.ini
replace_fs.py
wled-update.sh
qodana.yaml
compile_commands.json

/build/
/build_output/
/node_modules/

/wled00/extLibs
/wled00/LittleFS
/wled00/my_config.h
/wled00/Release
/wled00/wled00.ino.cpp
/wled00/html_*.h
platformio_BACKUP_447.ini
platformio_BASE_447.ini
platformio_LOCAL_447.ini
platformio_REMOTE_447.ini
platformio.ini.orig
wled00/json.cpp.orig
wled00/wled.cpp.orig
wled00/wled.h.orig
