# Example PlatformIO Project Configuration Override
# ------------------------------------------------------------------------------
# Copy to platformio_override.ini to activate overrides
# ------------------------------------------------------------------------------
# Please visit documentation: https://docs.platformio.org/page/projectconf.html

[platformio]
default_envs = WLED_tasmota_1M

[env:WLED_tasmota_1M]
board = esp01_1m
platform = ${common.platform_wled_default}
platform_packages = ${common.platform_packages}
board_build.ldscript = ${common.ldscript_1m128k}
lib_deps = ${esp8266.lib_deps}
build_unflags = ${common.build_unflags}
build_flags = ${common.build_flags_esp8266}
; *********************************************************************
; *** Use custom settings from file my_config.h
   -DWLED_USE_MY_CONFIG
; *********************************************************************
;
;
; *** To use the below defines/overrides, copy and paste each onto it's own line just below build_flags in the section above.
; 
; disable specific features
;  -D WLED_DISABLE_OTA
;  -D WLED_DISABLE_ALEXA
;  -D WLED_DISABLE_HUESYNC
;  -D WLED_DISABLE_INFRARED
;  -D WLED_DISABLE_WEBSOCKETS
; PIN defines - uncomment and change, if needed:
;   -D LEDPIN=2
;   -D BTNPIN=0
;   -D TOUCHPIN=T0
;   -D IRPIN=4
;   -D RLYPIN=12
;   -D RLYMDE=1
; digital LED strip types - uncomment only one ! - this will disable WS281x / SK681x support
;   -D USE_APA102
;   -D USE_WS2801
;   -D USE_LPD8806
; PIN defines for 2 wire LEDs
   -D CLKPIN=0
   -D DATAPIN=2
; to drive analog LED strips (aka 5050) hardware configuration is no longer necessary
; configure the settings in the UI as follows (hard):
;   for the Magic Home LED Controller use PWM pins 5,12,13,15
;   for the H801 controller use PINs 15,13,12,14 (W2 = 04)
;   for the BW-LT11 controller use PINs 12,4,14,5
;   
; set the name of the module - make sure there is a quote-backslash-quote before the name and a backslash-quote-quote after the name
;   -D SERVERNAME="\"WLED\""
;   
; set the number of LEDs
;   -D DEFAULT_LED_COUNT=30
;   
; set milliampere limit when using ESP pin to power leds
;   -D ABL_MILLIAMPS_DEFAULT=850
;
; enable IR by setting remote type
;   -D IRTYPE=0 ;0 Remote disabled | 1 24-key RGB | 2 24-key with CT | 3 40-key blue | 4 40-key RGB | 5 21-key RGB | 6 6-key black | 7 9-key red | 8 JSON remote
;   
; set default color order of your led strip
;   -D DEFAULT_LED_COLOR_ORDER=COL_ORDER_GRB


# ------------------------------------------------------------------------------
# Hub75 examples from upstream WLED
# ! Just for reference -> will need some adjust to work with WLED-MM !
# ------------------------------------------------------------------------------

;[env:esp32dev_hub75]
;board = esp32dev
;upload_speed = 921600
;platform = ${esp32_idf_V4.platform}
;platform_packages = ${esp32_idf_V4.platform_packages}
;build_unflags = ${common.build_unflags}
;build_flags = ${common.build_flags}
;  -D WLED_RELEASE_NAME=\"ESP32_hub75\"
;  -D WLED_ENABLE_HUB75MATRIX -D NO_GFX
;  -D WLED_DEBUG_BUS
;  ; -D WLED_DEBUG
;  -D SR_DMTYPE=1 -D I2S_SDPIN=-1 -D I2S_CKPIN=-1 -D I2S_WSPIN=-1 -D MCLK_PIN=-1  ;; Disable to prevent pin clash
;lib_deps = ${esp32_idf_V4.lib_deps}
;  https://github.com/mrfaptastic/ESP32-HUB75-MatrixPanel-DMA.git#3.0.11
;monitor_filters = esp32_exception_decoder
;board_build.partitions = ${esp32.default_partitions}
;board_build.flash_mode = dio
;custom_usermods = audioreactive

;[env:esp32dev_hub75_forum_pinout]
;extends = env:esp32dev_hub75
;build_flags = ${common.build_flags}
;              -D WLED_RELEASE_NAME=\"ESP32_hub75_forum_pinout\"
;              -D WLED_ENABLE_HUB75MATRIX -D NO_GFX 
;              -D ESP32_FORUM_PINOUT ;; enable for SmartMatrix default pins
;              -D WLED_DEBUG_BUS
;              -D SR_DMTYPE=1 -D I2S_SDPIN=-1 -D I2S_CKPIN=-1 -D I2S_WSPIN=-1 -D MCLK_PIN=-1  ;; Disable to prevent pin clash


;[env:adafruit_matrixportal_esp32s3]
;; ESP32-S3 processor, 8 MB flash, 2 MB of PSRAM, dedicated driver pins for HUB75
;board = adafruit_matrixportal_esp32s3_wled
;;; adafruit recommends to use arduino-esp32 2.0.14
;;;platform = espressif32@ ~6.5.0
;;;platform_packages = platformio/framework-arduinoespressif32 @ 3.20014.231204 ;; arduino-esp32 2.0.14
;platform = ${esp32s3.platform}
;platform_packages = ${esp32s3.platform_packages}
;upload_speed = 921600
;build_unflags = ${common.build_unflags}
;build_flags = ${common.build_flags} ${esp32s3.build_flags} -D WLED_RELEASE_NAME=\"ESP32-S3_8M_qspi\"
;  -DARDUINO_USB_CDC_ON_BOOT=1 ;; -DARDUINO_USB_MODE=1      ;; for boards with USB-OTG connector only (USBCDC or "TinyUSB")
;  -DBOARD_HAS_PSRAM
;  -DLOLIN_WIFI_FIX ; seems to work much better with this
;  -D WLED_WATCHDOG_TIMEOUT=0
;  -D WLED_ENABLE_HUB75MATRIX -D NO_GFX
;  -D S3_LCD_DIV_NUM=20 ;; Attempt to fix wifi performance issue when panel active with S3 chips
;  -D ARDUINO_ADAFRUIT_MATRIXPORTAL_ESP32S3
;  -D WLED_DEBUG_BUS
;  -D SR_DMTYPE=1 -D I2S_SDPIN=-1 -D I2S_CKPIN=-1 -D I2S_WSPIN=-1 -D MCLK_PIN=-1  ;; Disable to prevent pin clash
;lib_deps = ${esp32s3.lib_deps}
;  https://github.com/mrfaptastic/ESP32-HUB75-MatrixPanel-DMA.git#aa28e2a ;; S3_LCD_DIV_NUM fix
;
;board_build.partitions = ${esp32.large_partitions}                  ;; standard bootloader and 8MB Flash partitions
;; board_build.partitions = tools/partitions-8MB_spiffs-tinyuf2.csv ;; supports adafruit UF2 bootloader
;board_build.f_flash = 80000000L
;board_build.flash_mode = qio
;monitor_filters = esp32_exception_decoder
;;custom_usermods = audioreactive

;[env:esp32S3_PSRAM_HUB75]
;;; MOONHUB HUB75 adapter board (lilygo T7-S3 with 16MB flash and PSRAM)
;board = lilygo-t7-s3
;platform = ${esp32s3.platform}
;platform_packages = ${esp32s3.platform_packages}
;upload_speed = 921600
;build_unflags = ${common.build_unflags}
;              ${Speed_Flags.build_unflags}    ;; optional: removes "-Os" so we can override with "-O2" in build_flags
;build_flags = ${common.build_flags} ${esp32s3.build_flags} -D WLED_RELEASE_NAME=\"esp32S3_16MB_PSRAM_HUB75\"
;              ${Speed_Flags.build_flags}      ;;  optional: -O2 -> optimize for speed instead of size
;              -DARDUINO_USB_CDC_ON_BOOT=1 ;; -DARDUINO_USB_MODE=1   ;; for boards with USB-OTG connector only (USBCDC or "TinyUSB")
;              -DBOARD_HAS_PSRAM
;              -DLOLIN_WIFI_FIX ; seems to work much better with this
;              -D WLED_WATCHDOG_TIMEOUT=0
;              -D WLED_ENABLE_HUB75MATRIX -D NO_GFX 
;              -D S3_LCD_DIV_NUM=20 ;; Attempt to fix wifi performance issue when panel active with S3 chips
;              -D MOONHUB_S3_PINOUT ;; HUB75 pinout
;              -D WLED_DEBUG_BUS
;              -D LEDPIN=14 -D BTNPIN=0 -D RLYPIN=15 -D IRPIN=-1 -D AUDIOPIN=-1 ;; defaults that avoid pin conflicts with HUB75
;              -D SR_DMTYPE=1 -D I2S_SDPIN=10 -D I2S_CKPIN=11 -D I2S_WSPIN=12 -D MCLK_PIN=-1  ;; I2S mic
;lib_deps = ${esp32s3.lib_deps}
;           https://github.com/mrfaptastic/ESP32-HUB75-MatrixPanel-DMA.git#aa28e2a ;; S3_LCD_DIV_NUM fix
;;;board_build.partitions = ${esp32.large_partitions}               ;; for 8MB flash
;board_build.partitions = ${esp32.extreme_partitions}               ;; for 16MB flash
;board_build.f_flash = 80000000L
;board_build.flash_mode = qio
;monitor_filters = esp32_exception_decoder
;;custom_usermods = audioreactive
